main {
  padding: 100px 0px 0px;
  background-color: #ffffff;
  min-height: calc(100vh - 140px);
  color: #333;
}

.cause__title {
  font-size: 2rem;
  font-weight: bold;
  color:var(--hovercolor);
  text-align: center;
  margin-bottom: 30px;
}

.causes-container {
  max-width: 900px;
  margin: 0 auto;
}

.cause-item {
  background: white;
  border-bottom: 3px dotted #dbdbdb;
  padding-bottom: 16px;
  margin-bottom: 24px;
  padding: 25px 30px;
  margin-bottom: 25px;
  user-select: none;
}

.cause-item h3 {
  color: #2e8b57;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.cause-item p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
}
