.footer {
    bottom: 0;
    height: 230px;
    width: 100%;
    background-color:var(--maincolor);
    display: flex;
}

.footer__sub-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

.footer__copyright {
    position: relative;
    bottom: -50px;
}

.footer__title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.footer__text {
    margin: 5px;
    color: rgb(199, 214, 201);
}

.footer__social-box {
    flex-direction: row;
    justify-content: flex-end;
}

.footer__text i {
    transform: scale(0.7);
    margin: 5px;
    color: white;
}
