main {
  padding: 70px 30px 50px;
  background-color: #ffffff;
  min-height: calc(100vh - 140px); /* 스크롤 없이 전체 화면을 꽉 채우되, 해더푸터 합쳐서 140px은 제외하고 최소높이유지지 */
  display: flex; 
  justify-content: center;
  align-items: center;
}

.login__img img {
  margin: 20px;
}


.login-container {
  background: white;
  padding: 40px 100px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.login__title {
  color:var(--maincolor);
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.login__subtext {
  margin-bottom: 30px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  font-size: 1rem;
  box-sizing: border-box;
}

.signup-btn {
  width: 100%;
  background-color:var(--maincolor);
  color: white;
  padding: 12px 0;
  border-radius: 25px;
  font-size: 1.0rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.signup-btn:hover {
  background-color: var(--hovercolor);
}

.signup-box p {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

input:focus,button:focus {
  outline: none;
}