.main-content {
  font-family: 'Pretendard', sans-serif;
  background-color: #ffffff;
  color: #222;
  padding: 100px 0px;
}

.isrt__title {
  text-align: center;
  background-color: white;
}

.isrt__title h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.year-section {
  margin-bottom: 70px;
  background-color: #ffffff;
  margin: 80px;
}
.year-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #000000;
  border-left: 4px solid #ccc;
  padding-left: 12px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.isrt-img-box {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 12px;
  background: #f2f2f2;
  transition: transform 0.2s ease;
}

.isrt-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 12px;
}

.isrt-img-box:hover img {
  transform: scale(1.05);
}
